<div class="container">
	<h1 #miH1>Registro de heroes</h1>
	<!-- La suma es:{{getSuma(5,5)}} -->
	<input [(ngModel)]="directivaNgModel" type="text" [disabled]="disableInput" />
	{{ titulo }}
	<!-- <app-my-component4 [titulo]="titulo"></app-my-component4> -->

	<button [class.cambiar-color]="getChangeColor()" [style.color]="color" (click)="showMessage()">
		GUARDAR
	</button>
	<label for="" [ngStyle]="miEstiloNgStyle">probando ngStyle</label>
	<label for="" [ngClass]="{ 'cambiar-color-label': miNgClass }">probando ngClass</label>

	<h3>PIPES</h3>
	<table>
		<tr>
			<td>pipe</td>
			<td>value</td>
			<td>result</td>
		</tr>

		<tr>
			<td>Custom Currency</td>
			<td>{{ currencyNumber }}</td>
			<td>{{ currencyNumber | customCurrency: '.1-1' }}</td>
		</tr>

		<tr>
			<td>UpperCase</td>
			<td>{{ titulo }}</td>
			<td>{{ titulo | uppercase }}</td>
		</tr>
		<tr>
			<td>LowerCase</td>
			<td>{{ titulo }}</td>
			<td>{{ titulo | lowercase }}</td>
		</tr>
		<tr>
			<td>Slice Simple</td>
			<td>{{ titulo }}</td>
			<td>{{ titulo | slice: 5 }}</td>
		</tr>
		<tr>
			<td>Slice 2 parametros</td>
			<td>{{ titulo }}</td>
			<td>{{ titulo | slice: 0:4 }}</td>
		</tr>
		<tr>
			<td>Slice 2 parametros, valor final negativo</td>
			<td>{{ titulo }}</td>
			<td>{{ titulo | slice: 0:-2 }}</td>
		</tr>
		<tr>
			<td>Decimal Simple</td>
			<td>{{ decimalPrueba }}</td>
			<td>{{ decimalPrueba | number }}</td>
		</tr>
		<tr>
			<td>Decimal con decimales</td>
			<td>{{ decimalPrueba }}</td>
			<td>{{ decimalPrueba | number: '2.2-2' }}</td>
		</tr>
		<tr>
			<td>Percent</td>
			<td>{{ decimalPrueba }}</td>
			<td>{{ decimalPrueba | percent }}</td>
		</tr>
		<tr>
			<td>Percent</td>
			<td>{{ decimalPrueba }}</td>
			<td>{{ decimalPrueba | percent: '4.2-2' }}</td>
		</tr>
		<tr>
			<td>Currency</td>
			<td>{{ currencyNumber }}</td>
			<td>{{ currencyNumber | currency: 'PEN':'symbol':'.1-1' }}</td>
		</tr>
		<tr>
			<td>JSON</td>
			<td>{{ myJson }}</td>
			<td>{{ myJson | json }}</td>
		</tr>

		<tr>
			<td>Async</td>
			<td>{{ miPromesa }}</td>
			<td>{{ miPromesa | async }}</td>
		</tr>

		<tr>
			<td>Date</td>
			<td>{{ miDate }}</td>
			<td>{{ miDate | date: 'short' }}</td>
		</tr>
	</table>
</div>
<br />
