//CSS HEROE

*,
*:focus,
*:hover {
	outline: none;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 25em;
	button {
		width: 8em;
		background: #7749f8;
		border-radius: 4px;
		height: 39px;
		color: white;
		outline: none;
		border: 0;
		cursor: pointer;
	}

	.cambiar-color {
		background-color: red;
	}
	.cambiar-color-label {
		color: green;
	}

	input {
		border: 1px solid #ced4da;
		box-sizing: border-box;
		border-radius: 4px;
		height: 38px;
	}

	table {
		border-collapse: collapse;
		width: 100%;
	}

	table tr:first-child td {
		font-weight: bold;
	}

	td,
	th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	td:nth-child(1) {
		font-weight: bold;
	}

	tr:nth-child(even) {
		background-color: #f8f9fa;
	}
}
