<div class="container">
	<div>
		<img src="assets/img/logo-fuckyncode-boom.png" alt="funckyn code" />
	</div>
	<mat-form-field appearance="outline">
		<mat-label>User Name</mat-label>
		<input matInput placeholder="Placeholder" />
		<mat-icon class="material-icons-outlined" matSuffix>account_circle_outline</mat-icon>
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Password</mat-label>
		<input type="password" matInput placeholder="Placeholder" />
		<mat-icon matSuffix>password</mat-icon>
	</mat-form-field>

	<button mat-raised-button color="primary">Login</button>
</div>
