.container {
	display: flex;
	flex-direction: column;
	img {
		width: 20em;
	}

	&__form {
		display: flex;
		flex-direction: column;
	}
	.registrate {
		color: #007acc;
		font-size: 18px;
		cursor: pointer;
	}
}
