/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	/*Clases para el SnackBar*/
	.mat-snack-bar-container {
		color: white;
		text-align: center;
	}
	.mat-simple-snackbar {
		justify-content: center;
		font-size: 1em;
	}
	.snackbar-error {
		background-color: #e74c3c;
	}

	.snackbar-warning {
		background-color: #f1c40f;
	}

	.snackbar-info {
		background-color: #239b56;
	}
	/****************************/
}
