.dashboard {
	height: 100%;
}
.sidenav-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
	&__filter {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.drawer {
	height: 100%;
}
